body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: #DB2955;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #EC6ABE, #FDE09C);
  overflow: hidden;
}

.container {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.2);
  padding: 30px;
  border-radius: 15px;
}

button {
  padding: 15px 25px;
  font-size: 20px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #ff6b6b;
  color: #fff;
  transition: 0.3s;
}

button:hover {
  background-color: #420C14;
}

#hidden-message {
  margin-top: 20px;
  font-size: 18px;
  min-height: 50px;
}

#background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}
